#services .card-body i{
    font-size: 50px;
}

.container-fluid{
    background: #ecf0f1;
}
#services{
	background-color: #ecf0f1;
}



.card{
    background: #ecf0f1;
}
#team{
		background-color: #ecf0f1;
}
#project{
	background-color: #ecf0f1;
}
